html, body {
	width : 100%;
	height : 100%;
}
	.wrapper { 
		margin: 0 auto;
		width: 75%;
		display : block;
	}
		.jumper {
			min-width: 55%;
			max-width: 55%;
			display: block;
			background-color: #ccc;
			text-align: center;
			padding: 25px;
			margin: 1px auto;
			border: 1px solid grey;
		}
			.jumper:hover div {
				display : block;
			}
			
			.jumper:hover {
				height: 50%;
				padding-top: 0;
			}
			
			.jumper div{
				display : none;
				text-align: justify;
			}
						
			div.wrapper:nth-child(1) .jumper:hover::after{
				content: '';
			}
			
			div.wrapper:nth-child(2) .jumper:hover::after{
				content: '';
			}
			
			div.wrapper:nth-child(3) .jumper:hover::after{
				content: '';
			}
			
			div.wrapper:nth-child(1) .jumper::after{
				content: "Title 1";
				font-size: 18px;
			}
			
			div.wrapper:nth-child(2) .jumper::after{
				content: "Title 2";
				font-size: 18px;
			}
			
			div.wrapper:nth-child(3) .jumper::after{
				content: "Title 3";
				font-size: 18px;
			}
			
				.jumper div:nth-child(1) {
					margin: 10% 0 0;
					background-color : yellow;
					border: 1px solid #ccc;
				}
				
				.jumper div:nth-child(even) {
					background-color : green;
					border: 1px solid #ccc;
				}
				.jumper div:nth-child(3) {
					background-color : red;
					border: 1px solid #ccc;
				}